<template name="create">
	<div class="row">
			<div class="col-md-8">
                    <input id="room" type="text" class="form-control input-sm" placeholder="Name your room!">
                    <input id="room" type="text" class="form-control input-sm" placeholder="Create your nickname!">
                  </div>
                  
                  <div class="col-md-4">
                     <button type="button" class="btn btn-success btn-sm btn-block pull-right">Create room</button>
                     <button type="button" class="btn btn-success btn-sm btn-block pull-right">Create </button>
                  </div>
                
                </div>
</template>
